<mat-card>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra efficitur sapien sed sodales. Fusce sollicitudin, dui ut commodo semper, libero ipsum sodales augue, eget aliquam enim purus sit amet metus. Suspendisse viverra, magna sed tincidunt fringilla, mauris libero venenatis tellus, eget mattis nunc nunc vel erat. Suspendisse potenti. Duis ac malesuada sem. Quisque placerat lorem at arcu suscipit ultricies. Vivamus pharetra interdum arcu, a laoreet magna mattis sed. Praesent accumsan vehicula maximus. Aliquam sed nisl fringilla, feugiat ligula ac, scelerisque magna. Maecenas consectetur facilisis est, eu mollis nisi. Praesent tincidunt eu metus pretium porta.
  </p>
  <p>
    Nullam pretium feugiat velit, sed pretium nisl porttitor id. Donec eleifend pulvinar nisl, a placerat lorem. Curabitur ligula erat, gravida nec mollis a, convallis quis turpis. Sed faucibus tellus nibh, non condimentum eros dictum ac. Maecenas ut felis nec ex porttitor luctus. Nulla tincidunt, justo at dignissim pretium, lectus magna tristique nisi, eu cursus turpis arcu sit amet ipsum. Aliquam erat volutpat. Mauris scelerisque quam vitae justo fermentum, et mattis massa pharetra. Nunc rutrum felis nec accumsan vehicula. Aliquam et viverra ex. Sed sit amet mauris sagittis, consequat leo facilisis, finibus magna.
  </p>
  <p>
    Proin hendrerit sodales enim a dictum. Aliquam facilisis sem et ante hendrerit fringilla. Mauris ut interdum lacus, ac interdum sapien. Nulla egestas metus quis elit lobortis suscipit. Aliquam tincidunt fringilla justo, non malesuada dolor tincidunt sed. Nulla tincidunt faucibus velit sollicitudin posuere. Donec id ipsum quis diam varius luctus. Sed nunc mi, facilisis ut nunc sed, vulputate scelerisque felis. Curabitur nec mollis justo.
  </p>
</mat-card>
